body { 
	color: red; 
	font-size: 20pt; 

} 

/* Definimos un tipo especial para los formularios.*/ 

.listaschulas { 
	list-style-image: url("boton.gif"); 
	font-color: black; 
	font-family: 'Arial, Verdana'; 
}
