/* Hoja de estilos básica 
*/

body {
	color: gray; background-color: white; 
     }

h1, h2   {
	color: red;   
     }

/* Para los ID se usa la # */
#parrafo_especial  {	
			color: green; 
			font-size: 14pt;
			font-style: italic;
     		   }

#definicion  {	
			color: black; 
			font-size: 16pt;
			font-style: bold;
     		   }
